.no-results {
    padding-top: 48px;
    .product-workspace {
        padding: 40px;
    }
    &__icon {
        grid-column: 2 / span 1;
        align-self: center;
    }
    article {
        grid-column: 3 / span 9;
        align-self: center;
        margin-left: 20px;
        ul {
            padding-left: 20px;
            margin: 0;
        } 
    }
}