.breadcrumb {
    ul {
        padding: 0;
        margin: 16px 0px;
        list-style: none;
        font-size: 14px;
        li {
            color: $ml-color-dark-grey;
            display: inline;
            &:not(:last-child) {
                &::after {
                    content: ' > ';
                }
            }
        }
    }
}