$ml-color-yellow: #FFE600;
$ml-color-black: #333333;
$ml-color-dark-grey: #666666;
$ml-color-grey: #999999;
$ml-color-light-grey: #EEEEEE;
$ml-color-blue: #3483FA;
$ml-color-white: white;
$font: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$navbar-height: 54px;