.search-box {
    height: $navbar-height;
    background-color: $ml-color-yellow;
    align-self: center;

    .row {
        align-items: center;
        height: 100%;
    }
    .ml-logo {
        grid-column: 2;
    }
    form {
        margin: 0;
        grid-column: 3/12;
        align-self: center;
        display: flex;
        flex-direction: row;
        input[type="text"] {
            flex-grow: 1;
            height: 40px;
            padding: 10px;
            border-radius: 4px 0 0 4px;
            border: none;
            font-size: 18px;
            &:focus, &:active, &:active:focus {
                border: none;
                outline: none;
            }
            ::placeholder {
                color: $ml-color-light-grey;
                font-size: 18px;
            }
        }

        button {
            height: 40px;
            width: 40px;
            border-radius: 0 4px 4px 0;
            border: none;
            background: $ml-color-light-grey;
            &:focus, &:active, &:active:focus {
                border: none;
                outline: none;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .search-box {
        .ml-logo {
            grid-column: 1;
            padding: 0 15px;        
        }
        form {
            grid-column: 2/12;
            input[type="text"] {
                width: 100%;
            }
        }
    }
}