.product {
    &-row {
       grid-column: 1 / span 12; 
       margin:0 16px;
       padding:16px 0;
       &:not(:last-child) {
           border-bottom: 1px solid $ml-color-light-grey;
       }
    }

    &-thumbnail {
        grid-column: 1 / 2;
        margin-right: 16px;
        width: 180px;
        height: 180px;
        text-decoration: none;
        color: black;
        img {
            min-width: 180px;
            min-width: 180px;
            max-width:100%;
            max-height:100%;
            border-radius: 4px;
        }
    }

    &-info {
        grid-column: 2 / span 11;
        padding-top: 16px;
        &__title {
            grid-column: 1 / span 9;
            font-size: 24px;
            align-self: center;
            .price-decimal {
                font-size: 14px;
                margin-left: 3px;
            }
            img {
                width: 20px;
                height: 20px;
                margin-left: 10px;
            }
        }
        &__state {
            grid-column: 10 / span 3;
            align-self: center;
            font-size: 12px;
            color: $ml-color-dark-grey;
        }
        &__description {
            grid-column: 1 / span 9;
            padding-top: 32px;
            font-size: 18px;
            a {
                text-decoration: none;
                color: $ml-color-black;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .product {    
        &-thumbnail {
            width: 115px;
            height: 115px;
            img {
                min-width: 115px;
                min-width: 115px;
            }
        }
    
        &-info {
            grid-column: 2 / span 11;
            &__title {
                grid-column: 1 / span 12;
            }
            &__state {
                display: none;
            }
            &__description {
                font-size: 14px;
                padding-top: 16px;
                line-height: 14px;
                grid-column: 1 / span 12;
            }
        }
    }
}